In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/sf-crime/train.csv.zip
/kaggle/input/sf-crime/sampleSubmission.csv.zip
/kaggle/input/sf-crime/test.csv.zip

In [2]:
#Load the training and testing data and store it in a variable
train_df = pd.read_csv('/kaggle/input/sf-crime/train.csv.zip')
test_df = pd.read_csv('/kaggle/input/sf-crime/test.csv.zip')

In [3]:
#looking through the training data
train_df.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Dates       878049 non-null  object
 1   Category    878049 non-null  object
 2   Descript    878049 non-null  object
 3   DayOfWeek   878049 non-null  object
 4   PdDistrict  878049 non-null  object
 5   Resolution  878049 non-null  object
 6   Address     878049 non-null  object
 7   X           878049 non-null  float64
 8   Y           878049 non-null  float64
dtypes: float64(2), object(7)
memory usage: 60.3+ MB

In [5]:
#looking into testing data
test_df.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [6]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884262 entries, 0 to 884261
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Id          884262 non-null  int64
 1   Dates       884262 non-null  object
 2   DayOfWeek   884262 non-null  object
 3   PdDistrict  884262 non-null  object
 4   Address     884262 non-null  object
 5   X           884262 non-null  float64
 6   Y           884262 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 47.2+ MB

In [7]:
### cleaning the train data

#creating new columns and deleting duplicate columns

train_df = pd.concat([train_df, pd.get_dummies(train_df['DayOfWeek'])], axis=1)
train_df.drop('DayOfWeek', axis=1, inplace=True)
train_df = pd.concat([train_df, pd.get_dummies(train_df['PdDistrict'])], axis=1)
train_df.drop('PdDistrict', axis=1, inplace=True)
train_df.drop(['Address', 'Descript', 'Resolution', 'Dates'], axis=1, inplace=True)

In [8]:
### cleaning the testing data

#creating new columns and deleting duplicate columns


test_df = pd.concat([test_df, pd.get_dummies(test_df['DayOfWeek'])], axis=1)
test_df.drop('DayOfWeek', axis=1, inplace=True)
test_df = pd.concat([test_df, pd.get_dummies(test_df['PdDistrict'])], axis=1)
test_df.drop('PdDistrict', axis=1, inplace=True)
test_df.drop(['Address', 'Dates'], axis=1, inplace=True)

In [9]:
# looking into data after proccessing
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Category    878049 non-null  object
 1   X           878049 non-null  float64
 2   Y           878049 non-null  float64
 3   Friday      878049 non-null  uint8
 4   Monday      878049 non-null  uint8
 5   Saturday    878049 non-null  uint8
 6   Sunday      878049 non-null  uint8
 7   Thursday    878049 non-null  uint8
 8   Tuesday     878049 non-null  uint8
 9   Wednesday   878049 non-null  uint8
 10  BAYVIEW     878049 non-null  uint8
 11  CENTRAL     878049 non-null  uint8
 12  INGLESIDE   878049 non-null  uint8
 13  MISSION     878049 non-null  uint8
 14  NORTHERN    878049 non-null  uint8
 15  PARK        878049 non-null  uint8
 16  RICHMOND    878049 non-null  uint8
 17  SOUTHERN    878049 non-null  uint8
 18  TARAVAL     878049 non-null  uint8
 19  TENDERLOIN  878049 non-null  uint8
dtypes: float64(2), object(1), uint8(17)
memory usage: 34.3+ MB

In [10]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884262 entries, 0 to 884261
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Id          884262 non-null  int64
 1   X           884262 non-null  float64
 2   Y           884262 non-null  float64
 3   Friday      884262 non-null  uint8
 4   Monday      884262 non-null  uint8
 5   Saturday    884262 non-null  uint8
 6   Sunday      884262 non-null  uint8
 7   Thursday    884262 non-null  uint8
 8   Tuesday     884262 non-null  uint8
 9   Wednesday   884262 non-null  uint8
 10  BAYVIEW     884262 non-null  uint8
 11  CENTRAL     884262 non-null  uint8
 12  INGLESIDE   884262 non-null  uint8
 13  MISSION     884262 non-null  uint8
 14  NORTHERN    884262 non-null  uint8
 15  PARK        884262 non-null  uint8
 16  RICHMOND    884262 non-null  uint8
 17  SOUTHERN    884262 non-null  uint8
 18  TARAVAL     884262 non-null  uint8
 19  TENDERLOIN  884262 non-null  uint8
dtypes: float64(2), int64(1), uint8(17)
memory usage: 34.6 MB

In [11]:
# Preparing the data for training and testing
x_train=(train_df.drop(['Category'],axis=1))
y_train=train_df['Category']

In [12]:
# Creating dummies for y train
y_train=pd.get_dummies(y_train)
y_train.head()

,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,EMBEZZLEMENT,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# Splitting test and train data

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x_train,y_train,test_size=0.2)

In [14]:
# Import the libraries for the network

from keras.models import Sequential
from keras.layers import Dense,Activation,Dropout

In [15]:
# Create a sequencial network

model = Sequential()
model.add(Dense(256, input_shape=(x_train.shape[1], )))
model.add(Dense(128, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(128, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(128, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(64, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(39, activation='softmax'))

In [16]:
# Compile the model with appropriate optimizer

model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [17]:
# Train the model

model.fit(xtrain,ytrain,
         batch_size=256,
         epochs=10,
         verbose=2,
         validation_data=(xtest,ytest))

Epoch 1/10
2744/2744 - 24s - loss: 2.7239 - accuracy: 0.1953 - val_loss: 2.6797 - val_accuracy: 0.2002
Epoch 2/10
2744/2744 - 22s - loss: 2.6904 - accuracy: 0.1989 - val_loss: 2.6803 - val_accuracy: 0.2002
Epoch 3/10
2744/2744 - 22s - loss: 2.6869 - accuracy: 0.1989 - val_loss: 2.6798 - val_accuracy: 0.2002
Epoch 4/10
2744/2744 - 22s - loss: 2.6852 - accuracy: 0.1989 - val_loss: 2.6798 - val_accuracy: 0.2002
Epoch 5/10
2744/2744 - 22s - loss: 2.6841 - accuracy: 0.1989 - val_loss: 2.6796 - val_accuracy: 0.2002
Epoch 6/10
2744/2744 - 22s - loss: 2.6835 - accuracy: 0.1989 - val_loss: 2.6795 - val_accuracy: 0.2002
Epoch 7/10
2744/2744 - 22s - loss: 2.6829 - accuracy: 0.1989 - val_loss: 2.6795 - val_accuracy: 0.2002
Epoch 8/10
2744/2744 - 23s - loss: 2.6825 - accuracy: 0.1989 - val_loss: 2.6795 - val_accuracy: 0.2002
Epoch 9/10
2744/2744 - 22s - loss: 2.6822 - accuracy: 0.1989 - val_loss: 2.6795 - val_accuracy: 0.2002
Epoch 10/10
2744/2744 - 22s - loss: 2.6819 - accuracy: 0.1989 - val_loss: 2.6795 - val_accuracy: 0.2002

In [18]:
# Predict the outcome

prediction=model.predict(test_df.drop('Id',axis=1))

In [19]:
sample_submission = pd.read_csv('../input/sf-crime/sampleSubmission.csv.zip')

In [20]:
# Prepare the final submission file

prediction1=[np.argmax(i) for i in prediction]
predictionshape = np.max(prediction, axis=1).reshape(-1, 1)
prediction1 = np.array((prediction == predictionshape), dtype='int32')
column=list(sample_submission.columns)
column.remove('Id')
submission1=pd.DataFrame({'Id':test_df['Id']})
for i,v in enumerate(column):
    submission1[v]=prediction1[:,i]

In [21]:
submission1.head()

,Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# Conbvert the file to csv file

submission1.to_csv('../working/submission1.csv', index=False)